<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <table class="teamPosition-listing">
        <tr th:each="team : ${employers}">
            <td>
                <p>
                    Employer Id:
                    <a th:href="@{'/employers/view/' + ${team.id}}" th:text="${team.id}"></a>
                </p>
                <p th:text="${'Name: ' + team.name}"></p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>