<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${positions} and ${positions.size()}">no teamPositions!</p>

<div class="container body-content">
    <h2>Skills</h2>
    <ul>
        <li th:each="position : ${positions}">
            <a th:href="@{'/positions/view/' + ${position.id}}" th:text="${position.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/positions/add'}">Add Skills</a>

</div>

</body>
</html>