<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Skill: ' + position.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="teamPosition-listing">
    <p th:text="${'Name: ' + position.name}"></p>
    <p th:text="${'Description: ' + position.description}"></p>
    <p> Jobs:
        <ul>
            <li th:each="teamPosition : ${position.teamPositions}">
                <a th:href="@{'/view/' + ${teamPosition.id}}" th:text="${teamPosition.name}"></a>
            </li>
        </ul>
    </p>
</div>