<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Employer</th>
        <th>Skill</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/teamPositions(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="team : ${employers}">
                <a th:href="@{/list/teamPositions(column=team,value=${team.name})}" th:text="${team.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="position : ${positions}">
                <a th:href="@{/list/teamPositions(column=position,value=${position.name})}" th:text="${position.name}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>