<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Job: ' + teamPosition.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="teamPosition-listing">
    <p th:text="${'ID: ' + teamPosition.id}"></p>
    <p th:text="${'Name: ' + teamPosition.name}"></p>
    <p>
        Employer: <a th:href="@{'/employers/view/' + ${teamPosition.team.id}}" th:text="${teamPosition.team.name}"></a>
    </p>
    <p> Skills:
        <ul>
            <li th:each="position : ${teamPosition.positions}">
                <a th:href="@{'/positions/view/' + ${position.id}}" th:text="${position.name}"></a>
            </li>
        </ul>
    </p>
</div>


</body>
</html>